@font-face {
  font-family: 'Consensus';
  src: url('../../../assets/Fonts/Consensus.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.movie-detail {
  .sortcut-bar {
    height: 46px;
    background-color: #fff;
    position: relative;
    // font-family: 'Consensus';
    top: 0;
    left: 0;
    ul {
      list-style-type: none;
      color: #212529;
      li {
        padding: 6px 0 4px 0;
        margin-right: 40px;
        color: 000;
        font-weight: 400;
        span {
          display: flex;
          flex-direction: row;
          flex: 1 1 auto;
          align-items: center;
          white-space: nowrap;
          cursor: pointer;
          span {
            margin-left: 0.25rem;
            margin-right: -0.25rem;
            margin-top: 3px;
            position: relative;
            width: 1em;
            height: 1em;
            font-size: 16px;
            line-height: 1;
            justify-content: center;
          }
        }
      }
      .active {
        border-bottom: 4px solid rgb(1, 180, 228);
      }
    }
  }
  .header {
    // border-bottom: 1px solid rgba(52.5, 31.5, 31.5, 1);
    background-position: right -200px top;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    .background-effect {
      .column {
        padding: 30px 40px;
        z-index: 0;
        max-width: 1400px;
        .header-inner {
          color: inherit;

          .poster-wrapper {
            min-width: 300px;
            width: 300px;
            height: 450px;
            border-radius: 8px;

            .poster {
              border-bottom-left-radius: 0;
              border-bottom-right-radius: 0;
              display: block;
              min-width: 300px;
              width: 300px;
              height: 450px;
              position: relative;
              top: 0;
              left: 0;

              .no-image {
                display: block;
                min-width: 300px;
                width: 300px;
                height: 450px;
                position: relative;
                top: 0;
                left: 0;
                background-image: url(https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-38-picture-grey-c2ebdbb057f2a7614185931650f8cee23fa137b93812ccb132b9df511df1cfac.svg);
                background-color: #dbdbdb;
                background-size: 50%;
                box-sizing: border-box;
                border-radius: 8px;
                border: 1px solid #d7d7d7;
                background-repeat: no-repeat;
                background-position: center center;
              }
            }

            .ott {
              background-color: rgb(3, 37, 65);
              border-bottom-left-radius: 8px;
              border-bottom-right-radius: 8px;

              .ott-wrapper {
                height: 60px;
                max-height: 60px;

                .button {
                  .provider {
                    padding-right: 8px;
                    img {
                      border-radius: 4px;
                      margin-right: 4px;
                      width: 36px;
                      height: 36px;
                    }
                  }
                  .text {
                    color: #fff;

                    h4 {
                      line-height: 1em;
                      opacity: 0.8;
                      font-weight: 400;
                      margin: 0;
                      font-size: 16px;
                    }
                    h3 {
                      display: block;
                      font-size: 1em;
                      line-height: 1em;
                      margin: 0;
                    }
                  }
                }
              }
            }
          }

          .details-wrapper {
            color: inherit;

            .details {
              padding-left: 40px;

              .title-wrapper {
                margin-bottom: 24px;

                h2 {
                  font-size: 2.2rem;
                  font-weight: 700;
                  a {
                    color: inherit;
                    font-weight: 600;
                    text-decoration: none;
                  }
                  span {
                    opacity: 0.8;
                    font-weight: 400;
                  }
                }

                .facts {
                  .certifications {
                    border: 1px solid rgba(255, 255, 255, 0.6);
                    color: rgba(255, 255, 255, 0.6);
                    display: inline-flex;
                    white-space: nowrap;
                    padding: 0.06em 4px 0.15em 4px !important;
                    line-height: 1;
                    border-radius: 2px;
                    margin-right: 7px;
                  }
                  .release-date {
                    font-size: 1.1em;
                    line-height: 1;
                    display: inline-flex;
                    align-content: center;
                    align-items: center;
                  }
                  .genres {
                    padding-left: 20px;
                    position: relative;
                    top: 0;
                    left: 0;

                    &::before {
                      font-size: 1.1em;
                      line-height: 1;
                      content: '•';
                      width: 100%;
                      height: 100%;
                      position: absolute;
                      top: 0;
                      left: 7px;
                      display: inline-flex;
                      align-content: center;
                      align-items: center;
                      z-index: -1;
                    }

                    span {
                      a {
                        color: inherit;
                        text-decoration: none;
                      }
                      padding: 0px;
                    }
                  }

                  .runtime {
                    padding-left: 20px;
                    position: relative;
                    top: 0;
                    left: 0;
                    &::before {
                      font-size: 1.1em;
                      line-height: 1;
                      content: '•';
                      width: 100%;
                      height: 100%;
                      position: absolute;
                      top: 0;
                      left: 7px;
                      display: inline-flex;
                      align-content: center;
                      align-items: center;
                      z-index: -1;
                    }
                  }
                }
              }

              .action-list {
                margin-bottom: 20px;
                width: 100%;
                height: 68px;

                .chart {
                  background: transparent;
                  display: inline-flex;
                  align-items: center;
                  justify-content: center;
                  height: 68px;
                  margin-right: 20px;
                  .rating {
                    width: 68px;
                    height: 68px;
                    display: inline-block;
                    background-color: #000;
                    color: #fff;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    justify-items: baseline;
                    font-size: 25px;
                    padding: 4px;

                    span {
                      font-size: 20px;
                      font-weight: 400;
                      position: absolute;
                      font-family: 'Consensus' !important;

                      -webkit-font-smoothing: antialiased;
                      -moz-osx-font-smoothing: grayscale;
                      -webkit-font-smoothing: antialiased;

                      // &::before {
                      //   content: '\e904';
                      // }
                    }
                  }
                  .text {
                    color: inherit;
                    margin-left: 10px;
                    white-space: pre-line;
                  }
                }
                .movietooltip {
                  padding: 3px 0;
                  margin-right: 20px;
                  color: inherit;
                }
              }

              .description {
                color: inherit;
                .tagline {
                  margin-bottom: 0;
                  font-size: 1.1em;
                  font-weight: 400;
                  font-style: italic;
                  opacity: 0.7;
                }
                .auto {
                  margin-top: 10px;
                  margin-bottom: 8px;
                  font-weight: 600;
                  font-size: 1.3em;
                }
                .overview {
                  p {
                    font-size: 1em;
                  }
                }
                ol.people {
                  list-style-type: none;
                  list-style-position: inside;
                  margin: 0;
                  padding: 0;
                  display: flex;
                  position: relative;
                  top: 0;
                  left: 0;
                  margin-top: 20px;
                  justify-content: flex-start;
                  flex-wrap: wrap;

                  .profile {
                    background-color: transparent;
                    width: 33%;
                    flex-basis: 33%;
                    text-align: left;
                    padding-right: 20px;

                    p {
                      padding: 0;
                      font-size: 1em;
                      margin: 0;
                      overflow: hidden;
                      text-overflow: ellipsis;

                      a {
                        color: inherit;
                        text-decoration: none;
                        font-weight: 600;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .media {
    .column-wrapper {
      .content-wrapper {
        padding: 30px 40px;
        .content-left {
          .column {
            background-color: #fff;
            width: calc(100vw - 80px - 268px);
            max-width: calc(1400px - 80px - 268px);
            flex: 0 1 auto;
            padding-right: 30px;

            .top-billed-cast {
              padding: 30px 0;
              padding-top: 0;

              h3 {
                font-weight: 600;
                font-size: 1.4em;
                margin-bottom: 20px;
              }

              .auto {
                font-weight: 600;
                font-size: 1.4em;
                margin-bottom: 20px;
                margin-left: 4px;
              }

              .cast-scroller {
                position: relative;
                top: 0;
                left: 0;

                .cast-list {
                  overflow-y: hidden;
                  overflow-x: scroll;
                  margin: -10px 0 0 -10px;
                  padding: 0 0 10px 0;

                  &::-webkit-scrollbar-track {
                    background-color: transparent;
                  }

                  &::-webkit-scrollbar {
                    height: 7px;
                    border: none;
                    background-color: transparent;
                  }

                  &::-webkit-scrollbar-thumb {
                    background-color: #dbdbdb;
                    border-radius: 10px;
                  }

                  &::after {
                    transition: linear 0.3s;
                    content: '';
                    width: 60px;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-image: linear-gradient(
                      to right,
                      rgba(255, 255, 255, 0) 0%,
                      #fff 100%
                    );
                    will-change: opacity;
                    pointer-events: none;
                    opacity: var(--opacity);
                  }

                  .cast-item {
                    margin: 10px 4px 10px 10px;
                    border: 1px solid rgba(227, 227, 227, 1) !important;
                    padding-bottom: 10px;
                    border-radius: 8px;
                    overflow: hidden;
                    min-width: 140px;
                    width: 140px;
                    background-color: #fff;
                    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);

                    .card-img-top {
                      min-width: 138px;
                      width: 138px;
                      height: 175px;
                      display: block;
                      color: #000;

                      img {
                        width: 100%;
                        height: 100%;
                      }

                      .no-image {
                        width: auto;
                        display: flex;
                        align-content: center;
                        align-items: center;
                        flex-wrap: wrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        border-radius: 0;
                        border: none;
                        height: 100%;
                        background-color: #dbdbdb;
                        background-size: 50%;
                        box-sizing: border-box;
                        position: relative;
                        top: 0;
                        left: 0;
                        justify-content: center;
                        min-width: 1em;
                        min-height: 1em;
                        line-height: inherit;
                        background-position: center center;
                        background-repeat: no-repeat;
                        color: inherit;
                      }

                      .female {
                        background-image: url(https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-36-user-female-grey-d9222f16ec16a33ed5e2c9bbdca07a4c48db14008bbebbabced8f8ed1fa2ad59.svg);
                      }

                      .male {
                        background-image: url(https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-4-user-grey-d8fe957375e70239d6abdd549fd7568c89281b2179b5f4470e2e12895792dfa5.svg);
                      }
                    }

                    .card-body {
                      padding: 0;
                      .card-title {
                        padding: 10px 10px 0 10px;
                        font-size: 1em;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-weight: bold;
                      }
                      .card-text {
                        padding: 0 10px;
                        font-size: 0.9em;
                      }
                    }
                  }
                }
              }
            }

            .season {
              padding: 30px 0;
              border-top: 1px solid #d7d7d7;

              .heading {
                display: flex;

                h3 {
                  font-weight: 600;
                  font-size: 1.4em;
                  margin-bottom: 20px;
                }
              }
              .card {
                border: 1px solid rgba(227, 227, 227, 1) !important;
                box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
                background-color: #fff;
                margin: 0;

                .poster {
                  display: block;
                  min-width: 130px;
                  width: 130px;
                  height: 195px;
                }

                .no-image {
                  background-image: url(https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-38-picture-grey-c2ebdbb057f2a7614185931650f8cee23fa137b93812ccb132b9df511df1cfac.svg);
                  width: 100%;
                  height: 100%;
                  background-color: #dbdbdb;
                  background-size: 50%;
                  box-sizing: border-box;
                  border: 1px solid #d7d7d7;
                  background-repeat: no-repeat;
                  background-position: center center;
                }

                .content {
                  width: 100%;
                  padding: 20px;
                  box-sizing: border-box;
                  display: flex;
                  flex-wrap: wrap;
                  align-items: center;

                  h2 {
                    font-size: 1.5em;
                    margin: 0 0 4px 0;
                    font-weight: 600;
                    padding: 0;
                    margin-bottom: 0;

                    a {
                      color: #000;
                      text-decoration: none;
                    }
                  }
                  h4 {
                    margin-top: 0;
                    margin-bottom: 8px;
                    font-size: 1em !important;
                    font-weight: 600;
                  }
                  .season_overview {
                    padding-top: 20px;

                    p {
                      line-height: 1.4;
                      font-size: 1em;
                      margin: 0;
                      padding: 0;
                    }
                  }
                }
              }
              .button {
                margin: 20px 0 0 0;
                font-size: 1em;

                a {
                  color: #000;
                  font-weight: 600;
                  font-size: 1.1em;
                  text-decoration: none;
                }
              }
            }

            .media-pannel {
              padding: 30px 0;
              border-top: 1px solid #d7d7d7;

              .review {
                h3 {
                  margin-right: 50px;
                  font-weight: 600;
                  font-size: 1.4em;
                  margin-bottom: 20px;
                }
                ul {
                  width: 100%;
                  list-style-type: none;

                  li {
                    display: inline-block;
                    margin-right: 24px;
                    padding-bottom: 5px;
                    font-size: 1.1em;
                    a {
                      color: #000;
                      font-weight: 600;
                      text-decoration: none;
                    }
                  }

                  .active {
                    border-bottom: 4px solid #000;
                  }
                }
              }

              .content {
                border-radius: 8px;
                .card {
                  padding: 20px;
                  border: 1px solid rgb(227, 227, 227) !important;
                  border-radius: 8px;
                  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
                  background-color: #fff;
                  margin: 0;

                  .user-img {
                    width: 64px;
                    margin-right: 20px;

                    img {
                      width: 64px;
                      height: 64px;
                      display: block;
                      border-radius: 50%;
                    }
                  }

                  .user-info-wrapper {
                    h3 {
                      display: inline-block;
                      margin: 0 0 4px 0;
                      font-size: 1.3em;
                      font-weight: 700;

                      a {
                        font-weight: 700;
                        color: #000;
                        text-decoration: none;
                      }
                    }

                    .rating {
                      padding: 1px 8px;
                      margin-left: 14px;
                      font-size: 0.9em;
                      display: inline-flex;
                      align-items: center;
                      align-content: center;
                      justify-content: center;
                      background-color: #000;
                      border-color: #000;
                      border-radius: 8px;
                      color: #fff;
                      border: 2px solid #fff;
                      transition: linear 0.1s;

                      span {
                        margin-right: 2px;
                        background-image: url(https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-49-star-67a24f6d4324aa644c594653e762b1c0de2b3e1ce0852171cfa49cc2650de374.svg);
                        filter: invert(1);
                        position: relative;
                        top: 0;
                        left: 0;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        min-width: 1em;
                        min-height: 1em;
                        width: 1em;
                        height: 1em;
                        line-height: inherit;
                        background-position: center center;
                        background-repeat: no-repeat;
                        color: inherit;
                        box-sizing: border-box;
                      }
                    }

                    h5 {
                      font-weight: 300;
                      font-size: 0.9em;
                      margin-bottom: 0;

                      a {
                        color: #000;
                        text-decoration: none;
                      }
                    }
                  }

                  .user-review {
                    padding-left: 84px;
                    padding-top: 20px;
                    box-sizing: border-box;

                    p {
                      font-size: 1em;
                      margin-bottom: 0;
                    }
                  }
                }
              }
            }

            .recommandations {
              padding: 30px 0;
              border-top: 1px solid #d7d7d7;

              .wrapper {
                h3 {
                  font-weight: 600;
                  font-size: 1.4em;
                  margin-bottom: 20px;
                  padding: 0;
                }

                .recommandations-wrapper {
                  position: relative;
                  top: 0;
                  left: 0;

                  .recommandations-list {
                    -webkit-overflow-scrolling: touch;
                    overflow-y: hidden;
                    overflow-x: scroll;
                    white-space: nowrap;
                    padding-bottom: 10px;

                    &::-webkit-scrollbar-track {
                      background-color: transparent;
                    }

                    &::-webkit-scrollbar {
                      height: 7px;
                      border: none;
                      background-color: transparent;
                    }

                    &::-webkit-scrollbar-thumb {
                      background-color: #dbdbdb;
                      border-radius: 10px;
                    }

                    &::after {
                      transition: linear 0.3s;
                      content: '';
                      width: 60px;
                      height: 100%;
                      position: absolute;
                      top: 0;
                      right: 0;
                      background-image: linear-gradient(
                        to right,
                        rgba(255, 255, 255, 0) 0%,
                        #fff 100%
                      );
                      opacity: var(--opacity);

                      will-change: opacity;
                      pointer-events: none;
                    }

                    .recommandation-item {
                      width: 250px;
                      margin: 0 15px 0 0;
                      border: none;
                    }

                    .image {
                      width: 250px;
                      height: 141px;
                      overflow: hidden;

                      a {
                        font-weight: 400;
                        font-size: 1em;
                        color: #000;
                        text-decoration: none;

                        &:hover .hover_overlay {
                          visibility: visible;
                        }

                        img {
                          top: 0;
                          left: 0;
                          width: 250px;
                          height: 141px;
                          border-radius: 8px;
                        }

                        .hover_overlay {
                          visibility: hidden;
                          background-color: rgba(255, 255, 255, 0.9);
                          position: relative;
                          top: -40px;
                          left: 0;
                          height: 40px;
                          width: 100%;
                          z-index: 1;
                          box-sizing: border-box;
                          padding-left: 10px;
                          padding-right: 10px;
                          display: flex;
                          align-items: center;
                          justify-content: space-between;

                          .release_date {
                            font-size: 1em;
                            display: inline-flex;
                            align-items: center;

                            .calender_icon {
                              margin-right: 4px;
                              background-image: url(https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-46-calendar-3e0931dfeba8f62c51e81dfa4364a6d836f3a03aaf739a51d0846902ee367645.svg);
                              position: relative;
                              top: 0;
                              left: 0;
                              display: inline-flex;
                              align-items: center;
                              justify-content: center;
                              min-width: 1em;
                              min-height: 1em;
                              width: 1em;
                              height: 1em;
                              line-height: inherit;
                              background-position: center center;
                              background-repeat: no-repeat;
                              color: inherit;
                              box-sizing: border-box;
                            }
                          }
                        }
                        .no-image {
                          width: 100%;
                          height: 100%;
                          background-color: #dbdbdb;
                          background-size: 50%;
                          box-sizing: border-box;
                          border-radius: 8px;
                          border: 1px solid #d7d7d7;
                          background-size: 30%;
                          background-image: url(https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-38-picture-grey-c2ebdbb057f2a7614185931650f8cee23fa137b93812ccb132b9df511df1cfac.svg);
                          background-repeat: no-repeat;
                          background-position: center center;
                        }
                      }
                    }
                    .movie {
                      color: #000;
                      margin-top: 4px;

                      a {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: inline-block;
                        padding-right: 20px;
                        font-weight: 400;
                        font-size: 1em;
                        color: #000;
                        text-decoration: none;
                      }

                      span {
                        padding-top: 0;
                        margin-right: 0;
                        display: inline-flex;
                        align-items: center;
                        line-height: 1.2em;
                        font-size: 1em;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .content-right {
          min-width: 260px;
          width: 260px;
          .column {
            padding-top: 4px;
            max-width: 300px;
            .facts {
              margin-bottom: 30px;
              p {
                margin: 0 0 20px 0;
                font-size: 1em;
                strong {
                  display: block;
                  font-weight: 600;
                }
              }
            }
            .keywords {
              border-bottom: 1px solid #d7d7d7;
              margin-bottom: 30px;

              h4 {
                font-size: 1.1em;
                font-weight: 600;
                margin-bottom: 10px;
              }

              ul {
                padding-bottom: 30px;

                li {
                  margin-right: 5px;
                  margin-bottom: 10px;
                  line-height: 24px;
                  font-size: 0.9em;
                  box-sizing: border-box;
                  white-space: nowrap;

                  a {
                    background-color: rgba(0, 0, 0, 0.1);
                    border: 1px solid #d7d7d7;
                    color: #000;
                    padding: 4px 10px;
                    border-radius: 4px;
                    text-decoration: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
